In [1]:
import numpy as np
import matplotlib as plt
import seaborn as sns
import pandas as pd
import scipy
from scipy.stats import pearsonr

Matplotlib is building the font cache; this may take a moment.

# Behav data

In [49]:
df_behav = pd.read_spss('Behav_OTPH_Responses.sav') 
df_behav = df_behav.drop([4]) # drop participant OTPH_5 because of recording problems 
df_behav.reset_index(drop=True, inplace=True)
df_behav.head(19)

,Gr1_Scale_1_0,Gr1_Scale_1_1,Gr1_Scale_1_2,Gr1_Scale_1_3,Gr1_Scale_1_4,Gr1_Scale_1_5,Gr1_Scale_1_6,Gr1_Scale_2_0,Gr1_Scale_2_1,Gr1_Scale_2_2,...,Gr1_Scale_3_early,Gr1_Scale_1_late,Gr1_Scale_2_late,Gr1_Scale_3_late,Gr2_Scale_1_early,Gr2_Scale_2_early,Gr2_Scale_3_early,Gr2_Scale_1_late,Gr2_Scale_2_late,Gr2_Scale_3_late
0,4.0,3.0,3.0,3.0,3.0,4.0,1.0,3.0,2.0,3.0,...,2.333333,2.666667,2.666667,2.333333,3.000000,2.666667,2.333333,2.666667,2.666667,2.333333
1,3.0,2.0,2.0,2.0,2.0,3.0,3.0,4.0,3.0,2.0,...,3.000000,2.666667,2.000000,3.000000,2.000000,2.333333,3.000000,2.666667,2.000000,3.000000
2,2.0,3.0,4.0,3.0,4.0,3.0,4.0,4.0,4.0,4.0,...,2.666667,3.666667,3.666667,3.000000,3.333333,3.666667,2.666667,3.666667,3.666667,3.000000
3,1.0,1.0,2.0,1.0,1.0,1.0,1.0,4.0,5.0,5.0,...,3.000000,1.000000,5.000000,3.000000,1.333333,5.000000,3.000000,1.000000,5.000000,3.000000
4,4.0,5.0,4.0,4.0,5.0,4.0,3.0,3.0,4.0,3.0,...,3.333333,4.000000,3.000000,3.000000,4.333333,3.333333,3.333333,4.000000,3.000000,3.000000
5,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,...,4.000000,5.000000,5.000000,4.000000,5.000000,5.000000,4.000000,5.000000,5.000000,4.000000
6,3.0,2.0,1.0,2.0,1.0,1.0,1.0,5.0,4.0,3.0,...,2.333333,1.000000,2.666667,2.000000,1.666667,3.333333,2.333333,1.000000,2.666667,2.000000
7,3.0,5.0,5.0,5.0,4.0,3.0,2.0,5.0,5.0,5.0,...,1.333333,3.000000,4.333333,1.333333,5.000000,5.000000,1.333333,3.000000,4.333333,1.333333
8,2.0,3.0,4.0,3.0,2.0,3.0,3.0,3.0,2.0,3.0,...,1.000000,2.666667,2.666667,1.000000,3.333333,2.333333,1.000000,2.666667,2.666667,1.000000
9,3.0,2.0,3.0,3.0,3.0,3.0,2.0,5.0,2.0,4.0,...,1.000000,2.666667,3.666667,1.000000,2.666667,3.333333,1.000000,2.666667,3.666667,1.000000
10,4.0,4.0,4.0,3.0,3.0,2.0,2.0,4.0,4.0,4.0,...,3.000000,2.333333,4.000000,3.000000,3.666667,4.000000,3.000000,2.333333,4.000000,3.000000
11,4.0,3.0,3.0,2.0,2.0,2.0,2.0,3.0,2.0,2.0,...,3.000000,2.000000,1.666667,3.000000,2.666667,2.000000,3.000000,2.000000,1.666667,3.000000
12,5.0,5.0,5.0,3.0,5.0,5.0,3.0,5.0,5.0,5.0,...,4.666667,4.333333,4.666667,4.666667,4.333333,4.666667,4.666667,4.333333,4.666667,4.666667
13,4.0,3.0,4.0,5.0,3.0,3.0,3.0,5.0,3.0,4.0,...,4.333333,3.000000,4.000000,3.333333,4.000000,4.000000,4.333333,3.000000,4.000000,3.333333
14,4.0,4.0,4.0,3.0,2.0,2.0,2.0,5.0,5.0,2.0,...,3.000000,2.000000,4.000000,3.000000,3.666667,3.000000,3.000000,2.000000,4.000000,3.000000
15,3.0,5.0,2.0,4.0,5.0,4.0,3.0,5.0,5.0,3.0,...,1.000000,4.000000,5.000000,1.000000,3.666667,4.333333,1.000000,4.000000,5.000000,1.000000
16,4.0,2.0,2.0,3.0,4.0,3.0,4.0,4.0,3.0,2.0,...,3.666667,3.666667,4.333333,3.666667,2.333333,3.000000,3.666667,3.666667,4.333333,3.666667
17,2.0,4.0,5.0,4.0,3.0,5.0,5.0,4.0,4.0,4.0,...,3.333333,4.333333,4.333333,3.333333,4.333333,3.666667,3.333333,4.333333,4.333333,3.333333
18,2.0,2.0,5.0,2.0,2.0,3.0,3.0,4.0,3.0,4.0,...,3.333333,2.666667,3.666667,2.666667,3.000000,3.333333,3.333333,2.666667,3.666667,2.666667

In [50]:
df_behav = df_behav.drop(['Gr1_Scale_1_early','Gr1_Scale_2_early','Gr1_Scale_3_early',
        'Gr1_Scale_1_late', 'Gr1_Scale_2_late', 'Gr1_Scale_3_late',
        'Gr2_Scale_1_early', 'Gr2_Scale_2_early', 'Gr2_Scale_3_early',
        'Gr2_Scale_1_late', 'Gr2_Scale_2_late', 'Gr2_Scale_3_late'], axis=1)
df_behav.head()

,Gr1_Scale_1_0,Gr1_Scale_1_1,Gr1_Scale_1_2,Gr1_Scale_1_3,Gr1_Scale_1_4,Gr1_Scale_1_5,Gr1_Scale_1_6,Gr1_Scale_2_0,Gr1_Scale_2_1,Gr1_Scale_2_2,...,Gr2_Scale_2_4,Gr2_Scale_2_5,Gr2_Scale_2_6,Gr2_Scale_3_0,Gr2_Scale_3_1,Gr2_Scale_3_2,Gr2_Scale_3_3,Gr2_Scale_3_4,Gr2_Scale_3_5,Gr2_Scale_3_6
0,4.0,3.0,3.0,3.0,3.0,4.0,1.0,3.0,2.0,3.0,...,4.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
1,3.0,2.0,2.0,2.0,2.0,3.0,3.0,4.0,3.0,2.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
2,2.0,3.0,4.0,3.0,4.0,3.0,4.0,4.0,4.0,4.0,...,4.0,4.0,3.0,2.0,2.0,2.0,3.0,3.0,3.0,2.0
3,1.0,1.0,2.0,1.0,1.0,1.0,1.0,4.0,5.0,5.0,...,5.0,5.0,5.0,3.0,3.0,3.0,4.0,3.0,4.0,4.0
4,4.0,5.0,4.0,4.0,5.0,4.0,3.0,3.0,4.0,3.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0

In [51]:
df_behav = df_behav.rename(columns={'Gr1_Scale_1_0': 'Alertness_OT_baseline',
                    'Gr1_Scale_1_1': 'Alertness_OT_TP1',
                    'Gr1_Scale_1_2': 'Alertness_OT_TP2',
                    'Gr1_Scale_1_3': 'Alertness_OT_TP3',
                    'Gr1_Scale_1_4': 'Alertness_OT_TP4',
                    'Gr1_Scale_1_5': 'Alertness_OT_TP5',
                    'Gr1_Scale_1_6': 'Alertness_OT_TP6',
                    'Gr1_Scale_2_0': 'Excitement_OT_baseline',
                    'Gr1_Scale_2_1': 'Excitement_OT_TP1',
                    'Gr1_Scale_2_2': 'Excitement_OT_TP2',
                    'Gr1_Scale_2_3': 'Excitement_OT_TP3',
                    'Gr1_Scale_2_4': 'Excitement_OT_TP4',
                    'Gr1_Scale_2_5': 'Excitement_OT_TP5',
                    'Gr1_Scale_2_6': 'Excitement_OT_TP6',
                    'Gr1_Scale_3_0': 'Sociability_OT_baseline',
                    'Gr1_Scale_3_1': 'Sociability_OT_TP1',
                    'Gr1_Scale_3_2': 'Sociability_OT_TP2',
                    'Gr1_Scale_3_3': 'Sociability_OT_TP3',
                    'Gr1_Scale_3_4': 'Sociability_OT_TP4',
                    'Gr1_Scale_3_5': 'Sociability_OT_TP5',
                    'Gr1_Scale_3_6': 'Sociability_OT_TP6',
                    'Gr2_Scale_1_0': 'Alertness_PL_baseline',
                    'Gr2_Scale_1_1': 'Alertness_PL_TP1',
                    'Gr2_Scale_1_2': 'Alertness_PL_TP2',
                    'Gr2_Scale_1_3': 'Alertness_PL_TP3',
                    'Gr2_Scale_1_4': 'Alertness_PL_TP4',
                    'Gr2_Scale_1_5': 'Alertness_PL_TP5',
                    'Gr2_Scale_1_6': 'Alertness_PL_TP6',
                    'Gr2_Scale_2_0': 'Excitement_PL_baseline',
                    'Gr2_Scale_2_1': 'Excitement_PL_TP1',
                    'Gr2_Scale_2_2': 'Excitement_PL_TP2',
                    'Gr2_Scale_2_3': 'Excitement_PL_TP3',
                    'Gr2_Scale_2_4': 'Excitement_PL_TP4',
                    'Gr2_Scale_2_5': 'Excitement_PL_TP5',
                    'Gr2_Scale_2_6': 'Excitement_PL_TP6',
                    'Gr2_Scale_3_0': 'Sociability_PL_baseline',
                    'Gr2_Scale_3_1': 'Sociability_PL_TP1',
                    'Gr2_Scale_3_2': 'Sociability_PL_TP2',
                    'Gr2_Scale_3_3': 'Sociability_PL_TP3',
                    'Gr2_Scale_3_4': 'Sociability_PL_TP4',
                    'Gr2_Scale_3_5': 'Sociability_PL_TP5',
                    'Gr2_Scale_3_6': 'Sociability_PL_TP6'})

# Eyes open data

In [22]:
df_eo = pd.read_csv('dat_EO_relPower.csv')
df_eo.head()

,id,Drug,TP,Theta,Alpha,Beta,Theta_base,Alpha_base,Beta_base
0,1,1,1,1.181646,1.871099,0.740198,1.096907,1.716713,0.72773
1,1,1,2,1.188908,1.890720,0.738675,1.096907,1.716713,0.72773
2,1,1,3,1.128119,1.804824,0.759975,1.096907,1.716713,0.72773
3,1,1,4,1.309970,1.883296,0.758801,1.096907,1.716713,0.72773
4,1,1,5,1.339023,1.975457,0.699374,1.096907,1.716713,0.72773

In [23]:
df_eo_baseline_OT = pd.DataFrame()
df_eo_baseline_OT['Alpha_OT_baseline'] = df_eo.query('Drug==1 & TP==1')['Alpha_base']
df_eo_baseline_OT['Beta_OT_baseline'] = df_eo.query('Drug==1 & TP==1')['Beta_base']
df_eo_baseline_OT['Theta_OT_baseline'] = df_eo.query('Drug==1 & TP==1')['Theta_base']
df_eo_baseline_OT.reset_index(drop=True, inplace=True)

df_eo_baseline_PL = pd.DataFrame()
df_eo_baseline_PL['Alpha_PL_baseline'] = df_eo.query('Drug==2 & TP==1')['Alpha_base']
df_eo_baseline_PL['Beta_PL_baseline'] = df_eo.query('Drug==2 & TP==1')['Beta_base']
df_eo_baseline_PL['Theta_PL_baseline'] = df_eo.query('Drug==2 & TP==1')['Theta_base']
df_eo_baseline_PL.reset_index(drop=True, inplace=True)

df_eo_TP1 = pd.DataFrame()
df_eo_TP1['Alpha_OT_TP1'] = df_eo.query('Drug==1 & TP==1')['Alpha']
df_eo_TP1['Beta_OT_TP1'] = df_eo.query('Drug==1 & TP==1')['Beta']
df_eo_TP1['Theta_OT_TP1'] = df_eo.query('Drug==1 & TP==1')['Theta']
df_eo_TP1.reset_index(drop=True, inplace=True)

df_eo_TP1_PL = pd.DataFrame()
df_eo_TP1_PL['Alpha_PL_TP1'] = df_eo.query('Drug==2 & TP==1')['Alpha']
df_eo_TP1_PL['Beta_PL_TP1'] = df_eo.query('Drug==2 & TP==1')['Beta']
df_eo_TP1_PL['Theta_PL_TP1'] = df_eo.query('Drug==2 & TP==1')['Theta']
df_eo_TP1_PL.reset_index(drop=True, inplace=True)

df_eo_TP2 = pd.DataFrame()
df_eo_TP2['Alpha_OT_TP2'] = df_eo.query('Drug==1 & TP==2')['Alpha']
df_eo_TP2['Beta_OT_TP2'] = df_eo.query('Drug==1 & TP==2')['Beta']
df_eo_TP2['Theta_OT_TP2'] = df_eo.query('Drug==1 & TP==2')['Theta']
df_eo_TP2.reset_index(drop=True, inplace=True)

df_eo_TP2_PL = pd.DataFrame()
df_eo_TP2_PL['Alpha_PL_TP2'] = df_eo.query('Drug==2 & TP==2')['Alpha']
df_eo_TP2_PL['Beta_PL_TP2'] = df_eo.query('Drug==2 & TP==2')['Beta']
df_eo_TP2_PL['Theta_PL_TP2'] = df_eo.query('Drug==2 & TP==2')['Theta']
df_eo_TP2_PL.reset_index(drop=True, inplace=True)

df_eo_TP3 = pd.DataFrame()
df_eo_TP3['Alpha_OT_TP3'] = df_eo.query('Drug==1 & TP==3')['Alpha']
df_eo_TP3['Beta_OT_TP3'] = df_eo.query('Drug==1 & TP==3')['Beta']
df_eo_TP3['Theta_OT_TP3'] = df_eo.query('Drug==1 & TP==3')['Theta']
df_eo_TP3.reset_index(drop=True, inplace=True)

df_eo_TP3_PL = pd.DataFrame()
df_eo_TP3_PL['Alpha_PL_TP3'] = df_eo.query('Drug==2 & TP==3')['Alpha']
df_eo_TP3_PL['Beta_PL_TP3'] = df_eo.query('Drug==2 & TP==3')['Beta']
df_eo_TP3_PL['Theta_PL_TP3'] = df_eo.query('Drug==2 & TP==3')['Theta']
df_eo_TP3_PL.reset_index(drop=True, inplace=True)

df_eo_TP4 = pd.DataFrame()
df_eo_TP4['Alpha_OT_TP4'] = df_eo.query('Drug==1 & TP==4')['Alpha']
df_eo_TP4['Beta_OT_TP4'] = df_eo.query('Drug==1 & TP==4')['Beta']
df_eo_TP4['Theta_OT_TP4'] = df_eo.query('Drug==1 & TP==4')['Theta']
df_eo_TP4.reset_index(drop=True, inplace=True)

df_eo_TP4_PL = pd.DataFrame()
df_eo_TP4_PL['Alpha_PL_TP4'] = df_eo.query('Drug==2 & TP==4')['Alpha']
df_eo_TP4_PL['Beta_PL_TP4'] = df_eo.query('Drug==2 & TP==4')['Beta']
df_eo_TP4_PL['Theta_PL_TP4'] = df_eo.query('Drug==2 & TP==4')['Theta']
df_eo_TP4_PL.reset_index(drop=True, inplace=True)

df_eo_TP5 = pd.DataFrame()
df_eo_TP5['Alpha_OT_TP5'] = df_eo.query('Drug==1 & TP==5')['Alpha']
df_eo_TP5['Beta_OT_TP5'] = df_eo.query('Drug==1 & TP==5')['Beta']
df_eo_TP5['Theta_OT_TP5'] = df_eo.query('Drug==1 & TP==5')['Theta']
df_eo_TP5.reset_index(drop=True, inplace=True)

df_eo_TP5_PL = pd.DataFrame()
df_eo_TP5_PL['Alpha_PL_TP5'] = df_eo.query('Drug==2 & TP==5')['Alpha']
df_eo_TP5_PL['Beta_PL_TP5'] = df_eo.query('Drug==2 & TP==5')['Beta']
df_eo_TP5_PL['Theta_PL_TP5'] = df_eo.query('Drug==2 & TP==5')['Theta']
df_eo_TP5_PL.reset_index(drop=True, inplace=True)

df_eo_TP6 = pd.DataFrame()
df_eo_TP6['Alpha_OT_TP6'] = df_eo.query('Drug==1 & TP==6')['Alpha']
df_eo_TP6['Beta_OT_TP6'] = df_eo.query('Drug==1 & TP==6')['Beta']
df_eo_TP6['Theta_OT_TP6'] = df_eo.query('Drug==1 & TP==6')['Theta']
df_eo_TP6.reset_index(drop=True, inplace=True)

df_eo_TP6_PL = pd.DataFrame()
df_eo_TP6_PL['Alpha_PL_TP6'] = df_eo.query('Drug==2 & TP==6')['Alpha']
df_eo_TP6_PL['Beta_PL_TP6'] = df_eo.query('Drug==2 & TP==6')['Beta']
df_eo_TP6_PL['Theta_PL_TP6'] = df_eo.query('Drug==2 & TP==6')['Theta']
df_eo_TP6_PL.reset_index(drop=True, inplace=True)

In [24]:
df_eo_main = df_eo_baseline_OT.join(df_eo_baseline_PL)
df_eo_main = df_eo_main.join(df_eo_TP1)
df_eo_main = df_eo_main.join(df_eo_TP1_PL)
df_eo_main = df_eo_main.join(df_eo_TP2)
df_eo_main = df_eo_main.join(df_eo_TP2_PL)
df_eo_main = df_eo_main.join(df_eo_TP3)
df_eo_main = df_eo_main.join(df_eo_TP3_PL)
df_eo_main = df_eo_main.join(df_eo_TP4)
df_eo_main = df_eo_main.join(df_eo_TP4_PL)
df_eo_main = df_eo_main.join(df_eo_TP5)
df_eo_main = df_eo_main.join(df_eo_TP5_PL)
df_eo_main = df_eo_main.join(df_eo_TP6)
df_eo_main = df_eo_main.join(df_eo_TP6_PL)

In [25]:
df_eo_main.head()

,Alpha_OT_baseline,Beta_OT_baseline,Theta_OT_baseline,Alpha_PL_baseline,Beta_PL_baseline,Theta_PL_baseline,Alpha_OT_TP1,Beta_OT_TP1,Theta_OT_TP1,Alpha_PL_TP1,...,Theta_OT_TP5,Alpha_PL_TP5,Beta_PL_TP5,Theta_PL_TP5,Alpha_OT_TP6,Beta_OT_TP6,Theta_OT_TP6,Alpha_PL_TP6,Beta_PL_TP6,Theta_PL_TP6
0,1.716713,0.727730,1.096907,1.643819,0.712455,1.430621,1.871099,0.740198,1.181646,2.079584,...,1.339023,1.757813,0.706704,1.444822,1.915119,0.717417,1.233605,1.497843,0.863139,1.368224
1,1.587834,0.584099,1.836758,2.109738,0.551939,1.540202,1.741770,0.583087,1.799383,2.259756,...,1.696956,2.424189,0.552212,1.536960,1.992667,0.595551,1.742141,2.415022,0.558032,1.483131
2,1.819502,0.863352,1.162685,2.092196,0.631612,1.388391,1.425305,0.710318,1.416093,2.211520,...,1.493137,2.272005,0.603700,1.487396,2.337931,0.683180,1.145853,2.348954,0.590098,1.492925
3,1.067909,0.662931,1.894239,1.573104,0.574032,1.632943,1.073895,0.636870,1.961622,1.855694,...,1.908155,2.132848,0.553266,1.533494,1.025076,0.645317,1.993721,2.148393,0.549110,1.485759
4,1.250083,0.799893,1.621612,1.647261,0.618191,1.832992,1.253784,0.845912,1.596540,1.744319,...,1.723751,1.656170,0.614235,1.755423,1.381693,0.822238,1.742861,1.720620,0.604748,1.727835

# Amplitude-amplitude eyes open only

In [26]:
df_eo_aac = pd.read_csv('dat_Rho_lmm_EO_Pearson.csv')
df_eo_aac.head()

,id,Drug,TP,theta_alpha,theta_beta,alpha_beta,theta_alpha_base,theta_beta_base,alpha_beta_base
0,1,1,1,0.394704,-0.488335,-0.574766,0.238061,0.001296,-0.274539
1,1,1,2,0.229104,-0.321698,-0.264151,0.238061,0.001296,-0.274539
2,1,1,3,0.190941,-0.419300,-0.572240,0.238061,0.001296,-0.274539
3,1,1,4,0.398028,-0.382952,-0.610947,0.238061,0.001296,-0.274539
4,1,1,5,0.146503,-0.053833,-0.353213,0.238061,0.001296,-0.274539

In [27]:
df_eo_aac_baseline_OT = pd.DataFrame()
df_eo_aac_baseline_OT['Alpha_beta_OT_baseline'] = df_eo_aac.query('Drug==1 & TP==1')['alpha_beta_base']
df_eo_aac_baseline_OT['Theta_alpha_OT_baseline'] = df_eo_aac.query('Drug==1 & TP==1')['theta_alpha_base']
df_eo_aac_baseline_OT.reset_index(drop=True, inplace=True)

df_eo_aac_baseline_PL = pd.DataFrame()
df_eo_aac_baseline_PL['Alpha_beta_PL_baseline'] = df_eo_aac.query('Drug==2 & TP==1')['alpha_beta_base']
df_eo_aac_baseline_PL['Theta_alpha_PL_baseline'] = df_eo_aac.query('Drug==2 & TP==1')['theta_alpha_base']
df_eo_aac_baseline_PL.reset_index(drop=True, inplace=True)

df_eo_aac_TP1 = pd.DataFrame()
df_eo_aac_TP1['Alpha_beta_OT_TP1'] = df_eo_aac.query('Drug==1 & TP==1')['alpha_beta']
df_eo_aac_TP1['Theta_alpha_OT_TP1'] = df_eo_aac.query('Drug==1 & TP==1')['theta_alpha']
df_eo_aac_TP1.reset_index(drop=True, inplace=True)

df_eo_aac_TP1_PL = pd.DataFrame()
df_eo_aac_TP1_PL['Alpha_beta_PL_TP1'] = df_eo_aac.query('Drug==2 & TP==1')['alpha_beta']
df_eo_aac_TP1_PL['Theta_alpha_PL_TP1'] = df_eo_aac.query('Drug==2 & TP==1')['theta_alpha']
df_eo_aac_TP1_PL.reset_index(drop=True, inplace=True)

df_eo_aac_TP2 = pd.DataFrame()
df_eo_aac_TP2['Alpha_beta_OT_TP2'] = df_eo_aac.query('Drug==1 & TP==2')['alpha_beta']
df_eo_aac_TP2['Theta_alpha_OT_TP2'] = df_eo_aac.query('Drug==1 & TP==2')['theta_alpha']
df_eo_aac_TP2.reset_index(drop=True, inplace=True)

df_eo_aac_TP2_PL = pd.DataFrame()
df_eo_aac_TP2_PL['Alpha_beta_PL_TP2'] = df_eo_aac.query('Drug==2 & TP==2')['alpha_beta']
df_eo_aac_TP2_PL['Theta_alpha_PL_TP2'] = df_eo_aac.query('Drug==2 & TP==2')['theta_alpha']
df_eo_aac_TP2_PL.reset_index(drop=True, inplace=True)

df_eo_aac_TP3 = pd.DataFrame()
df_eo_aac_TP3['Alpha_beta_OT_TP3'] = df_eo_aac.query('Drug==1 & TP==3')['alpha_beta']
df_eo_aac_TP3['Theta_alpha_OT_TP3'] = df_eo_aac.query('Drug==1 & TP==3')['theta_alpha']
df_eo_aac_TP3.reset_index(drop=True, inplace=True)

df_eo_aac_TP3_PL = pd.DataFrame()
df_eo_aac_TP3_PL['Alpha_beta_PL_TP3'] = df_eo_aac.query('Drug==2 & TP==3')['alpha_beta']
df_eo_aac_TP3_PL['Theta_alpha_PL_TP3'] = df_eo_aac.query('Drug==2 & TP==3')['theta_alpha']
df_eo_aac_TP3_PL.reset_index(drop=True, inplace=True)

df_eo_aac_TP4 = pd.DataFrame()
df_eo_aac_TP4['Alpha_beta_OT_TP4'] = df_eo_aac.query('Drug==1 & TP==4')['alpha_beta']
df_eo_aac_TP4['Theta_alpha_OT_TP4'] = df_eo_aac.query('Drug==1 & TP==4')['theta_alpha']
df_eo_aac_TP4.reset_index(drop=True, inplace=True)

df_eo_aac_TP4_PL = pd.DataFrame()
df_eo_aac_TP4_PL['Alpha_beta_PL_TP4'] = df_eo_aac.query('Drug==2 & TP==4')['alpha_beta']
df_eo_aac_TP4_PL['Theta_alpha_PL_TP4'] = df_eo_aac.query('Drug==2 & TP==4')['theta_alpha']
df_eo_aac_TP4_PL.reset_index(drop=True, inplace=True)

df_eo_aac_TP5 = pd.DataFrame()
df_eo_aac_TP5['Alpha_beta_OT_TP5'] = df_eo_aac.query('Drug==1 & TP==5')['alpha_beta']
df_eo_aac_TP5['Theta_alpha_OT_TP5'] = df_eo_aac.query('Drug==1 & TP==5')['theta_alpha']
df_eo_aac_TP5.reset_index(drop=True, inplace=True)

df_eo_aac_TP5_PL = pd.DataFrame()
df_eo_aac_TP5_PL['Alpha_beta_PL_TP5'] = df_eo_aac.query('Drug==2 & TP==5')['alpha_beta']
df_eo_aac_TP5_PL['Theta_alpha_PL_TP5'] = df_eo_aac.query('Drug==2 & TP==5')['theta_alpha']
df_eo_aac_TP5_PL.reset_index(drop=True, inplace=True)

df_eo_aac_TP6 = pd.DataFrame()
df_eo_aac_TP6['Alpha_beta_OT_TP6'] = df_eo_aac.query('Drug==1 & TP==6')['alpha_beta']
df_eo_aac_TP6['Theta_alpha_OT_TP6'] = df_eo_aac.query('Drug==1 & TP==6')['theta_alpha']
df_eo_aac_TP6.reset_index(drop=True, inplace=True)

df_eo_aac_TP6_PL = pd.DataFrame()
df_eo_aac_TP6_PL['Alpha_beta_PL_TP6'] = df_eo_aac.query('Drug==2 & TP==6')['alpha_beta']
df_eo_aac_TP6_PL['Theta_alpha_PL_TP6'] = df_eo_aac.query('Drug==2 & TP==6')['theta_alpha']
df_eo_aac_TP6_PL.reset_index(drop=True, inplace=True)

In [28]:
df_eo_aac_main = df_eo_aac_baseline_OT.join(df_eo_aac_baseline_PL)
df_eo_aac_main = df_eo_aac_main.join(df_eo_aac_TP1)
df_eo_aac_main = df_eo_aac_main.join(df_eo_aac_TP1_PL)
df_eo_aac_main = df_eo_aac_main.join(df_eo_aac_TP2)
df_eo_aac_main = df_eo_aac_main.join(df_eo_aac_TP2_PL)
df_eo_aac_main = df_eo_aac_main.join(df_eo_aac_TP3)
df_eo_aac_main = df_eo_aac_main.join(df_eo_aac_TP3_PL)
df_eo_aac_main = df_eo_aac_main.join(df_eo_aac_TP4)
df_eo_aac_main = df_eo_aac_main.join(df_eo_aac_TP4_PL)
df_eo_aac_main = df_eo_aac_main.join(df_eo_aac_TP5)
df_eo_aac_main = df_eo_aac_main.join(df_eo_aac_TP5_PL)
df_eo_aac_main = df_eo_aac_main.join(df_eo_aac_TP6)
df_eo_aac_main = df_eo_aac_main.join(df_eo_aac_TP6_PL)

In [29]:
df_eo_aac_main.head()

,Alpha_beta_OT_baseline,Theta_alpha_OT_baseline,Alpha_beta_PL_baseline,Theta_alpha_PL_baseline,Alpha_beta_OT_TP1,Theta_alpha_OT_TP1,Alpha_beta_PL_TP1,Theta_alpha_PL_TP1,Alpha_beta_OT_TP2,Theta_alpha_OT_TP2,...,Alpha_beta_PL_TP4,Theta_alpha_PL_TP4,Alpha_beta_OT_TP5,Theta_alpha_OT_TP5,Alpha_beta_PL_TP5,Theta_alpha_PL_TP5,Alpha_beta_OT_TP6,Theta_alpha_OT_TP6,Alpha_beta_PL_TP6,Theta_alpha_PL_TP6
0,-0.274539,0.238061,-0.132697,-0.524658,-0.574766,0.394704,-0.683519,-0.573304,-0.264151,0.229104,...,-0.605682,-0.495164,-0.353213,0.146503,-0.618422,-0.529814,-0.514903,0.187303,-0.266523,-0.328786
1,-0.000599,-0.190502,-0.246229,-0.287418,0.043692,-0.099015,-0.514130,-0.104213,-0.270954,0.131743,...,-0.374804,0.096241,-0.183282,-0.125242,-0.164425,-0.270034,-0.362033,-0.307066,-0.751499,-0.192304
2,0.005307,-0.492094,-0.488327,-0.430249,0.336195,-0.486931,-0.550173,-0.124926,0.329320,-0.607788,...,-0.538417,-0.151104,0.571626,-0.678868,-0.402257,-0.263890,-0.293089,-0.017712,-0.639478,0.229856
3,-0.167116,-0.037862,-0.061400,-0.256385,-0.010206,0.093221,-0.023952,-0.420023,-0.041456,-0.251551,...,-0.004627,-0.532847,-0.041099,-0.307315,-0.414783,-0.461671,-0.154817,0.088987,-0.449096,-0.285127
4,0.084291,-0.017950,0.087444,-0.146895,0.296252,-0.039727,-0.331127,-0.061690,-0.359467,-0.297763,...,0.216053,-0.479115,-0.548223,0.034508,0.187411,-0.631100,-0.099165,-0.123096,-0.166759,-0.453189

# Correlations

In [30]:
df_behav.head()

,Alertness_OT_baseline,Alertness_OT_TP1,Alertness_OT_TP2,Alertness_OT_TP3,Alertness_OT_TP4,Alertness_OT_TP5,Alertness_OT_TP6,Excitement_OT_baseline,Excitement_OT_TP1,Excitement_OT_TP2,...,Excitement_PL_TP4,Excitement_PL_TP5,Excitement_PL_TP6,Sociability_PL_baseline,Sociability_PL_TP1,Sociability_PL_TP2,Sociability_PL_TP3,Sociability_PL_TP4,Sociability_PL_TP5,Sociability_PL_TP6
0,4.0,3.0,3.0,3.0,3.0,4.0,1.0,3.0,2.0,3.0,...,4.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
1,3.0,2.0,2.0,2.0,2.0,3.0,3.0,4.0,3.0,2.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
2,2.0,3.0,4.0,3.0,4.0,3.0,4.0,4.0,4.0,4.0,...,4.0,4.0,3.0,2.0,2.0,2.0,3.0,3.0,3.0,2.0
3,1.0,1.0,2.0,1.0,1.0,1.0,1.0,4.0,5.0,5.0,...,5.0,5.0,5.0,3.0,3.0,3.0,4.0,3.0,4.0,4.0
4,4.0,5.0,4.0,4.0,5.0,4.0,3.0,3.0,4.0,3.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0

In [31]:
df_behav.shape

(19, 42)

In [32]:
df_behav['Alertness_OT_TP1']

0     3.0
1     2.0
2     3.0
3     1.0
4     5.0
5     5.0
6     2.0
7     5.0
8     3.0
9     2.0
10    4.0
11    3.0
12    5.0
13    3.0
14    4.0
15    5.0
16    2.0
17    4.0
18    2.0
Name: Alertness_OT_TP1, dtype: float64

In [33]:
df_eo_main['Alpha_OT_TP1']

0     1.871099
1     1.741770
2     1.425305
3     1.073895
4     1.253784
5     1.596419
6     1.476314
7     1.251645
8     1.623891
9     1.836340
10    2.239797
11    2.389561
12    1.999294
13    1.628623
14    1.484735
15    1.237317
16    2.196215
17    1.362162
18    1.492894
Name: Alpha_OT_TP1, dtype: float64

### We need (all EO):
- Theta[1, 2, 3, 4, 5, 6] vs [Alertness, Excitement, Sociability]
- Alpha[1, 2, 3, 4, 5, 6] vs [Alertness, Excitement, Sociability]
- Beta[1, 2, 3, 4, 5, 6] vs [Alertness, Excitement, Sociability]
- Theta-alpha[1, 2, 3, 4, 5, 6] vs [Alertness, Excitement, Sociability]
- Alpha-beta[1, 2, 3, 4, 5, 6] vs [Alertness, Excitement, Sociability]

### Some more cleanup - remove missing values

In [37]:
df_behav['Alertness_OT_TP4']

0     3.0
1     2.0
2     4.0
3     1.0
4     5.0
5     5.0
6     1.0
7     4.0
8     2.0
9     3.0
10    3.0
11    2.0
12    5.0
13    3.0
14    2.0
15    5.0
16    4.0
17    3.0
18    2.0
Name: Alertness_OT_TP4, dtype: float64

In [38]:
df_eo_main['Theta_OT_TP4']

0     1.309970
1     1.754513
2     1.429790
3     1.917554
4     1.653947
5     1.306212
6     1.697447
7     1.662334
8     1.702904
9     1.304258
10    1.395483
11    1.503155
12    1.461751
13    1.801960
14    1.574194
15    1.389233
16    1.850165
17    1.350263
18         NaN
Name: Theta_OT_TP4, dtype: float64

In [45]:
# none of the behav values are nan/null:
df_behav.isnull().any().any()

np.False_

In [46]:
df_eo_main.isnull()

,Alpha_OT_baseline,Beta_OT_baseline,Theta_OT_baseline,Alpha_PL_baseline,Beta_PL_baseline,Theta_PL_baseline,Alpha_OT_TP1,Beta_OT_TP1,Theta_OT_TP1,Alpha_PL_TP1,...,Theta_OT_TP5,Alpha_PL_TP5,Beta_PL_TP5,Theta_PL_TP5,Alpha_OT_TP6,Beta_OT_TP6,Theta_OT_TP6,Alpha_PL_TP6,Beta_PL_TP6,Theta_PL_TP6
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
18,True,True,True,False,False,False,False,False,False,False,...,False,True,True,True,True,True,True,True,True,True

### 1. Alertness

In [52]:
# create a mini df
df_temp = pd.DataFrame()
df_temp['Alertness_OT_TP4'] = df_behav['Alertness_OT_TP4']
df_temp['Theta_OT_TP4'] = df_eo_main['Theta_OT_TP4']
df_temp

    Alertness_OT_TP4  Theta_OT_TP4
0                3.0      1.309970
1                2.0      1.754513
2                4.0      1.429790
3                1.0      1.917554
4                5.0      1.653947
5                5.0      1.306212
6                1.0      1.697447
7                4.0      1.662334
8                2.0      1.702904
9                3.0      1.304258
10               3.0      1.395483
11               2.0      1.503155
12               5.0      1.461751
13               3.0      1.801960
14               2.0      1.574194
15               5.0      1.389233
16               4.0      1.850165
17               3.0      1.350263
18               2.0           NaN

In [53]:
df_temp.dropna()

    Alertness_OT_TP4  Theta_OT_TP4
0                3.0      1.309970
1                2.0      1.754513
2                4.0      1.429790
3                1.0      1.917554
4                5.0      1.653947
5                5.0      1.306212
6                1.0      1.697447
7                4.0      1.662334
8                2.0      1.702904
9                3.0      1.304258
10               3.0      1.395483
11               2.0      1.503155
12               5.0      1.461751
13               3.0      1.801960
14               2.0      1.574194
15               5.0      1.389233
16               4.0      1.850165
17               3.0      1.350263

In [67]:
# Individual TF
for behav_measure in ['Alertness_', 'Excitement_', 'Sociability_']:
    print('\n' + behav_measure)
    for tf_measure in ['Theta_', 'Alpha_', 'Beta_']:
        print('\n' + tf_measure)
        for tp in ['1','2','3','4','5','6']:
            print('\nTP = ' + tp)
            for drug in ['OT','PL']:
                print('Drug = ' + drug)
                behav_id = behav_measure + drug + '_TP' + tp
                eo_main_id = tf_measure + drug + '_TP' + tp
                # doing this to treat nan values:
                # first create a mini temp df
                df_temp = pd.DataFrame()
                df_temp[behav_id] = df_behav[behav_id]
                df_temp[eo_main_id] = df_eo_main[eo_main_id]
                # then remove nan from here
                df_temp = df_temp.dropna()
                # now do the corr between the columns in the temp df
                print(np.corrcoef(df_temp[behav_id].to_numpy(), df_temp[eo_main_id].to_numpy())[0][1])

Alertness_

Theta_

TP = 1
Drug = OT
-0.3912093688990242
Drug = PL
0.2620597216671733

TP = 2
Drug = OT
-0.29810552788727124
Drug = PL
0.1848609675064412

TP = 3
Drug = OT
-0.09314856633768728
Drug = PL
0.23772015275599837

TP = 4
Drug = OT
-0.40943084103829097
Drug = PL
0.355751149267359

TP = 5
Drug = OT
-0.4291687266509802
Drug = PL
0.5201746722082259

TP = 6
Drug = OT
-0.33412286150285647
Drug = PL
0.5232484928732585

Alpha_

TP = 1
Drug = OT
-0.11361330039728296
Drug = PL
0.33463038710081616

TP = 2
Drug = OT
0.05017675673270072
Drug = PL
0.09182036578662121

TP = 3
Drug = OT
-0.14841370193461098
Drug = PL
0.1029576019376808

TP = 4
Drug = OT
-0.02218832901472253
Drug = PL
-0.003945179994438159

TP = 5
Drug = OT
0.14218413183000797
Drug = PL
0.045282637693314275

TP = 6
Drug = OT
0.24946653862401627
Drug = PL
0.08364821447890616

Beta_

TP = 1
Drug = OT
0.32746485721816243
Drug = PL
-0.34598710263113897

TP = 2
Drug = OT
0.21507134910607856
Drug = PL
0.02416517633015907

TP = 3
Drug = OT
0.30098615418088215
Drug = PL
-0.3090957852975129

TP = 4
Drug = OT
0.5250063770506928
Drug = PL
-0.28410656353066166

TP = 5
Drug = OT
0.4273646145976422
Drug = PL
-0.49093988275850253

TP = 6
Drug = OT
0.2939334424866714
Drug = PL
-0.4190957123768599

Excitement_

Theta_

TP = 1
Drug = OT
0.12855959706762912
Drug = PL
-0.1400426823681938

TP = 2
Drug = OT
-0.12174269014127938
Drug = PL
0.3795667614215253

TP = 3
Drug = OT
0.06265234961665331
Drug = PL
0.04346616362994856

TP = 4
Drug = OT
-0.10723610407876799
Drug = PL
0.002436045460034626

TP = 5
Drug = OT
-0.21017125930086597
Drug = PL
0.40426786243322804

TP = 6
Drug = OT
0.1030894935807647
Drug = PL
0.327400788357114

Alpha_

TP = 1
Drug = OT
-0.522713094198592
Drug = PL
0.237584952185101

TP = 2
Drug = OT
-0.18025391723317535
Drug = PL
0.05445706781755298

TP = 3
Drug = OT
-0.2723845331421475
Drug = PL
0.1147049632497308

TP = 4
Drug = OT
-0.28797351973539653
Drug = PL
0.09693702990786682

TP = 5
Drug = OT
-0.24585272187021442
Drug = PL
0.22404599241679735

TP = 6
Drug = OT
-0.1829951129014278
Drug = PL
0.01334187876619151

Beta_

TP = 1
Drug = OT
0.11130773073346492
Drug = PL
-0.030261725671910007

TP = 2
Drug = OT
0.09686045917959947
Drug = PL
-0.22720169475077195

TP = 3
Drug = OT
0.18436915535992107
Drug = PL
0.16334881497692277

TP = 4
Drug = OT
0.15436124942793533
Drug = PL
-0.12071341087229244

TP = 5
Drug = OT
0.2784322237149215
Drug = PL
-0.3826257648867128

TP = 6
Drug = OT
0.23201444459853257
Drug = PL
-0.3043795308325675

Sociability_

Theta_

TP = 1
Drug = OT
0.0345116557620445
Drug = PL
0.04883388132476681

TP = 2
Drug = OT
0.10981893256141882
Drug = PL
0.09811906824428292

TP = 3
Drug = OT
0.17755711555950146
Drug = PL
0.1249620961412181

TP = 4
Drug = OT
0.07605612015092762
Drug = PL
0.4292082723375176

TP = 5
Drug = OT
-0.00865183021019112
Drug = PL
0.3500424590770676

TP = 6
Drug = OT
-0.038329591321994774
Drug = PL
0.33040380564268956

Alpha_

TP = 1
Drug = OT
0.10648068264667117
Drug = PL
0.28580418375312877

TP = 2
Drug = OT
0.302883612158831
Drug = PL
-0.15255404673128234

TP = 3
Drug = OT
0.17862428527938937
Drug = PL
0.07061267416369992

TP = 4
Drug = OT
0.12214767566752811
Drug = PL
-0.15702079717383163

TP = 5
Drug = OT
0.11930970921958677
Drug = PL
-0.07732730218842448

TP = 6
Drug = OT
-0.2162750558822641
Drug = PL
-0.20819748031422788

Beta_

TP = 1
Drug = OT
0.020138476558591852
Drug = PL
-0.19652900150769076

TP = 2
Drug = OT
-0.1479129599699539
Drug = PL
-0.009394418841082152

TP = 3
Drug = OT
-0.19697113796240878
Drug = PL
-0.28775754871722165

TP = 4
Drug = OT
-0.20305035812657005
Drug = PL
-0.2908998015734734

TP = 5
Drug = OT
-0.08527420770353825
Drug = PL
-0.4641453746071787

TP = 6
Drug = OT
0.1897067750216708
Drug = PL
-0.37039486411585293

In [70]:
# Cross-Frequency ACC
for behav_measure in ['Alertness_', 'Excitement_', 'Sociability_']:
    print('\n' + behav_measure)
    for tf_measure in ['Theta_alpha_', 'Alpha_beta_']:
        print('\n' + tf_measure)
        for tp in ['1','2','3','4','5','6']:
            print('\nTP = ' + tp)
            for drug in ['OT','PL']:
                print('Drug = ' + drug)
                behav_id = behav_measure + drug + '_TP' + tp
                eo_main_id = tf_measure + drug + '_TP' + tp
                # doing this to treat nan values:
                # first create a mini temp df
                df_temp = pd.DataFrame()
                df_temp[behav_id] = df_behav[behav_id]
                df_temp[eo_main_id] = df_eo_aac_main[eo_main_id]
                # then remove nan from here
                df_temp = df_temp.dropna()
                # now do the corr between the columns in the temp df
                print(np.corrcoef(df_temp[behav_id].to_numpy(), df_temp[eo_main_id].to_numpy())[0][1])

Alertness_

Theta_alpha_

TP = 1
Drug = OT
-0.3350420207919333
Drug = PL
-0.02788688422316058

TP = 2
Drug = OT
-0.16338662551514607
Drug = PL
0.16851657665622222

TP = 3
Drug = OT
0.09965548742009414
Drug = PL
-0.2978285296333242

TP = 4
Drug = OT
-0.0019713965112350992
Drug = PL
-0.3922879210457479

TP = 5
Drug = OT
0.41977108026887505
Drug = PL
-0.263753193348863

TP = 6
Drug = OT
-0.2967126533879325
Drug = PL
0.02265332229664223

Alpha_beta_

TP = 1
Drug = OT
0.10757812901261928
Drug = PL
-0.14190107658937978

TP = 2
Drug = OT
0.2786010564063633
Drug = PL
-0.19911345689173834

TP = 3
Drug = OT
0.07956861834018329
Drug = PL
0.1887823906241206

TP = 4
Drug = OT
-0.07845835664943096
Drug = PL
0.17395613538917695

TP = 5
Drug = OT
-0.10160293846709692
Drug = PL
-0.05184048895408948

TP = 6
Drug = OT
0.33678249932636434
Drug = PL
-0.08781749354378425

Excitement_

Theta_alpha_

TP = 1
Drug = OT
-0.27936378911557386
Drug = PL
-0.3379627783881964

TP = 2
Drug = OT
-0.15562186877064238
Drug = PL
-0.26589466083882723

TP = 3
Drug = OT
0.29722156018582246
Drug = PL
0.0748841152104764

TP = 4
Drug = OT
-0.03021146063440264
Drug = PL
-0.2628100026592922

TP = 5
Drug = OT
0.1385773894091037
Drug = PL
-0.012052198046523866

TP = 6
Drug = OT
-0.12107310279520823
Drug = PL
-0.058028544042691074

Alpha_beta_

TP = 1
Drug = OT
0.29147169570349324
Drug = PL
-0.002935171310617868

TP = 2
Drug = OT
0.1980981217931729
Drug = PL
-0.025721234550624802

TP = 3
Drug = OT
-0.029671903574297272
Drug = PL
-0.1601939129322421

TP = 4
Drug = OT
0.13293272159612693
Drug = PL
0.005245075299259539

TP = 5
Drug = OT
0.1585904356077266
Drug = PL
-0.18620675998885822

TP = 6
Drug = OT
0.43512546875509445
Drug = PL
0.17824935097742842

Sociability_

Theta_alpha_

TP = 1
Drug = OT
-0.26578589187189894
Drug = PL
-0.22327906425666896

TP = 2
Drug = OT
0.2282796799590567
Drug = PL
-0.15674650990279976

TP = 3
Drug = OT
-0.001237216171175548
Drug = PL
-0.24334245611317304

TP = 4
Drug = OT
0.05470385484908028
Drug = PL
-0.038621649801117895

TP = 5
Drug = OT
0.10747001796675489
Drug = PL
-0.2840331928767887

TP = 6
Drug = OT
-0.2421121147768761
Drug = PL
-0.04992369626241529

Alpha_beta_

TP = 1
Drug = OT
0.18636007925417522
Drug = PL
0.1685250003909611

TP = 2
Drug = OT
0.06308500638178167
Drug = PL
0.2733393863331549

TP = 3
Drug = OT
0.19514310495687942
Drug = PL
0.28969563952023025

TP = 4
Drug = OT
0.18106933862293853
Drug = PL
0.10944043188285389

TP = 5
Drug = OT
-0.00994342635564381
Drug = PL
0.033016260864138065

TP = 6
Drug = OT
0.3805289705077165
Drug = PL
0.0021037491949013136