In [63]:
import numpy as np
import matplotlib as plt
import seaborn as sns
import pandas as pd
import scipy
from scipy.stats import pearsonr

# Messy data loading and preprocessing
This code is horribly inefficient and not pretty to look at, but I'm under time constraints and it gets the job done

# Behav data

In [103]:
df_behav = pd.read_spss('OTPH_Responses.sav') 
df_behav = df_behav.drop([4]) # drop participant OTPH_5 because of recording problems 
df_behav.reset_index(drop=True, inplace=True)
df_behav.head(19)

,Gr1_Scale_1_0,Gr1_Scale_1_1,Gr1_Scale_1_2,Gr1_Scale_1_3,Gr1_Scale_1_4,Gr1_Scale_1_5,Gr1_Scale_1_6,Gr1_Scale_2_0,Gr1_Scale_2_1,Gr1_Scale_2_2,...,Gr1_Scale_3_early,Gr1_Scale_1_late,Gr1_Scale_2_late,Gr1_Scale_3_late,Gr2_Scale_1_early,Gr2_Scale_2_early,Gr2_Scale_3_early,Gr2_Scale_1_late,Gr2_Scale_2_late,Gr2_Scale_3_late
0,4.0,3.0,3.0,3.0,3.0,4.0,1.0,3.0,2.0,3.0,...,2.333333,2.666667,2.666667,2.333333,3.000000,2.666667,2.333333,2.666667,2.666667,2.333333
1,3.0,2.0,2.0,2.0,2.0,3.0,3.0,4.0,3.0,2.0,...,3.000000,2.666667,2.000000,3.000000,2.000000,2.333333,3.000000,2.666667,2.000000,3.000000
2,2.0,3.0,4.0,3.0,4.0,3.0,4.0,4.0,4.0,4.0,...,2.666667,3.666667,3.666667,3.000000,3.333333,3.666667,2.666667,3.666667,3.666667,3.000000
3,1.0,1.0,2.0,1.0,1.0,1.0,1.0,4.0,5.0,5.0,...,3.000000,1.000000,5.000000,3.000000,1.333333,5.000000,3.000000,1.000000,5.000000,3.000000
4,4.0,5.0,4.0,4.0,5.0,4.0,3.0,3.0,4.0,3.0,...,3.333333,4.000000,3.000000,3.000000,4.333333,3.333333,3.333333,4.000000,3.000000,3.000000
5,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,...,4.000000,5.000000,5.000000,4.000000,5.000000,5.000000,4.000000,5.000000,5.000000,4.000000
6,3.0,2.0,1.0,2.0,1.0,1.0,1.0,5.0,4.0,3.0,...,2.333333,1.000000,2.666667,2.000000,1.666667,3.333333,2.333333,1.000000,2.666667,2.000000
7,3.0,5.0,5.0,5.0,4.0,3.0,2.0,5.0,5.0,5.0,...,1.333333,3.000000,4.333333,1.333333,5.000000,5.000000,1.333333,3.000000,4.333333,1.333333
8,2.0,3.0,4.0,3.0,2.0,3.0,3.0,3.0,2.0,3.0,...,1.000000,2.666667,2.666667,1.000000,3.333333,2.333333,1.000000,2.666667,2.666667,1.000000
9,3.0,2.0,3.0,3.0,3.0,3.0,2.0,5.0,2.0,4.0,...,1.000000,2.666667,3.666667,1.000000,2.666667,3.333333,1.000000,2.666667,3.666667,1.000000
10,4.0,4.0,4.0,3.0,3.0,2.0,2.0,4.0,4.0,4.0,...,3.000000,2.333333,4.000000,3.000000,3.666667,4.000000,3.000000,2.333333,4.000000,3.000000
11,4.0,3.0,3.0,2.0,2.0,2.0,2.0,3.0,2.0,2.0,...,3.000000,2.000000,1.666667,3.000000,2.666667,2.000000,3.000000,2.000000,1.666667,3.000000
12,5.0,5.0,5.0,3.0,5.0,5.0,3.0,5.0,5.0,5.0,...,4.666667,4.333333,4.666667,4.666667,4.333333,4.666667,4.666667,4.333333,4.666667,4.666667
13,4.0,3.0,4.0,5.0,3.0,3.0,3.0,5.0,3.0,4.0,...,4.333333,3.000000,4.000000,3.333333,4.000000,4.000000,4.333333,3.000000,4.000000,3.333333
14,4.0,4.0,4.0,3.0,2.0,2.0,2.0,5.0,5.0,2.0,...,3.000000,2.000000,4.000000,3.000000,3.666667,3.000000,3.000000,2.000000,4.000000,3.000000
15,3.0,5.0,2.0,4.0,5.0,4.0,3.0,5.0,5.0,3.0,...,1.000000,4.000000,5.000000,1.000000,3.666667,4.333333,1.000000,4.000000,5.000000,1.000000
16,4.0,2.0,2.0,3.0,4.0,3.0,4.0,4.0,3.0,2.0,...,3.666667,3.666667,4.333333,3.666667,2.333333,3.000000,3.666667,3.666667,4.333333,3.666667
17,2.0,4.0,5.0,4.0,3.0,5.0,5.0,4.0,4.0,4.0,...,3.333333,4.333333,4.333333,3.333333,4.333333,3.666667,3.333333,4.333333,4.333333,3.333333
18,2.0,2.0,5.0,2.0,2.0,3.0,3.0,4.0,3.0,4.0,...,3.333333,2.666667,3.666667,2.666667,3.000000,3.333333,3.333333,2.666667,3.666667,2.666667

In [104]:
df_behav.shape

(19, 54)

In [105]:
for col in df_behav.columns:
    print(col)

Gr1_Scale_1_0
Gr1_Scale_1_1
Gr1_Scale_1_2
Gr1_Scale_1_3
Gr1_Scale_1_4
Gr1_Scale_1_5
Gr1_Scale_1_6
Gr1_Scale_2_0
Gr1_Scale_2_1
Gr1_Scale_2_2
Gr1_Scale_2_3
Gr1_Scale_2_4
Gr1_Scale_2_5
Gr1_Scale_2_6
Gr1_Scale_3_0
Gr1_Scale_3_1
Gr1_Scale_3_2
Gr1_Scale_3_3
Gr1_Scale_3_4
Gr1_Scale_3_5
Gr1_Scale_3_6
Gr2_Scale_1_0
Gr2_Scale_1_1
Gr2_Scale_1_2
Gr2_Scale_1_3
Gr2_Scale_1_4
Gr2_Scale_1_5
Gr2_Scale_1_6
Gr2_Scale_2_0
Gr2_Scale_2_1
Gr2_Scale_2_2
Gr2_Scale_2_3
Gr2_Scale_2_4
Gr2_Scale_2_5
Gr2_Scale_2_6
Gr2_Scale_3_0
Gr2_Scale_3_1
Gr2_Scale_3_2
Gr2_Scale_3_3
Gr2_Scale_3_4
Gr2_Scale_3_5
Gr2_Scale_3_6
Gr1_Scale_1_early
Gr1_Scale_2_early
Gr1_Scale_3_early
Gr1_Scale_1_late
Gr1_Scale_2_late
Gr1_Scale_3_late
Gr2_Scale_1_early
Gr2_Scale_2_early
Gr2_Scale_3_early
Gr2_Scale_1_late
Gr2_Scale_2_late
Gr2_Scale_3_late

In [106]:
df_behav = df_behav.drop(['Gr1_Scale_1_early','Gr1_Scale_2_early','Gr1_Scale_3_early',
        'Gr1_Scale_1_late', 'Gr1_Scale_2_late', 'Gr1_Scale_3_late',
        'Gr2_Scale_1_early', 'Gr2_Scale_2_early', 'Gr2_Scale_3_early',
        'Gr2_Scale_1_late', 'Gr2_Scale_2_late', 'Gr2_Scale_3_late'], axis=1)
df_behav.head()

,Gr1_Scale_1_0,Gr1_Scale_1_1,Gr1_Scale_1_2,Gr1_Scale_1_3,Gr1_Scale_1_4,Gr1_Scale_1_5,Gr1_Scale_1_6,Gr1_Scale_2_0,Gr1_Scale_2_1,Gr1_Scale_2_2,...,Gr2_Scale_2_4,Gr2_Scale_2_5,Gr2_Scale_2_6,Gr2_Scale_3_0,Gr2_Scale_3_1,Gr2_Scale_3_2,Gr2_Scale_3_3,Gr2_Scale_3_4,Gr2_Scale_3_5,Gr2_Scale_3_6
0,4.0,3.0,3.0,3.0,3.0,4.0,1.0,3.0,2.0,3.0,...,4.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
1,3.0,2.0,2.0,2.0,2.0,3.0,3.0,4.0,3.0,2.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
2,2.0,3.0,4.0,3.0,4.0,3.0,4.0,4.0,4.0,4.0,...,4.0,4.0,3.0,2.0,2.0,2.0,3.0,3.0,3.0,2.0
3,1.0,1.0,2.0,1.0,1.0,1.0,1.0,4.0,5.0,5.0,...,5.0,5.0,5.0,3.0,3.0,3.0,4.0,3.0,4.0,4.0
4,4.0,5.0,4.0,4.0,5.0,4.0,3.0,3.0,4.0,3.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0

In [107]:
for col in df_behav.columns:
    print(col)

Gr1_Scale_1_0
Gr1_Scale_1_1
Gr1_Scale_1_2
Gr1_Scale_1_3
Gr1_Scale_1_4
Gr1_Scale_1_5
Gr1_Scale_1_6
Gr1_Scale_2_0
Gr1_Scale_2_1
Gr1_Scale_2_2
Gr1_Scale_2_3
Gr1_Scale_2_4
Gr1_Scale_2_5
Gr1_Scale_2_6
Gr1_Scale_3_0
Gr1_Scale_3_1
Gr1_Scale_3_2
Gr1_Scale_3_3
Gr1_Scale_3_4
Gr1_Scale_3_5
Gr1_Scale_3_6
Gr2_Scale_1_0
Gr2_Scale_1_1
Gr2_Scale_1_2
Gr2_Scale_1_3
Gr2_Scale_1_4
Gr2_Scale_1_5
Gr2_Scale_1_6
Gr2_Scale_2_0
Gr2_Scale_2_1
Gr2_Scale_2_2
Gr2_Scale_2_3
Gr2_Scale_2_4
Gr2_Scale_2_5
Gr2_Scale_2_6
Gr2_Scale_3_0
Gr2_Scale_3_1
Gr2_Scale_3_2
Gr2_Scale_3_3
Gr2_Scale_3_4
Gr2_Scale_3_5
Gr2_Scale_3_6

In [108]:
df_behav = df_behav.rename(columns={'Gr1_Scale_1_0': 'Alertness_OT_baseline',
                    'Gr1_Scale_1_1': 'Alertness_OT_TP1',
                    'Gr1_Scale_1_2': 'Alertness_OT_TP2',
                    'Gr1_Scale_1_3': 'Alertness_OT_TP3',
                    'Gr1_Scale_1_4': 'Alertness_OT_TP4',
                    'Gr1_Scale_1_5': 'Alertness_OT_TP5',
                    'Gr1_Scale_1_6': 'Alertness_OT_TP6',
                    'Gr1_Scale_2_0': 'Excitement_OT_baseline',
                    'Gr1_Scale_2_1': 'Excitement_OT_TP1',
                    'Gr1_Scale_2_2': 'Excitement_OT_TP2',
                    'Gr1_Scale_2_3': 'Excitement_OT_TP3',
                    'Gr1_Scale_2_4': 'Excitement_OT_TP4',
                    'Gr1_Scale_2_5': 'Excitement_OT_TP5',
                    'Gr1_Scale_2_6': 'Excitement_OT_TP6',
                    'Gr1_Scale_3_0': 'Sociability_OT_baseline',
                    'Gr1_Scale_3_1': 'Sociability_OT_TP1',
                    'Gr1_Scale_3_2': 'Sociability_OT_TP2',
                    'Gr1_Scale_3_3': 'Sociability_OT_TP3',
                    'Gr1_Scale_3_4': 'Sociability_OT_TP4',
                    'Gr1_Scale_3_5': 'Sociability_OT_TP5',
                    'Gr1_Scale_3_6': 'Sociability_OT_TP6',
                    'Gr2_Scale_1_0': 'Alertness_PL_baseline',
                    'Gr2_Scale_1_1': 'Alertness_PL_TP1',
                    'Gr2_Scale_1_2': 'Alertness_PL_TP2',
                    'Gr2_Scale_1_3': 'Alertness_PL_TP3',
                    'Gr2_Scale_1_4': 'Alertness_PL_TP4',
                    'Gr2_Scale_1_5': 'Alertness_PL_TP5',
                    'Gr2_Scale_1_6': 'Alertness_PL_TP6',
                    'Gr2_Scale_2_0': 'Excitement_PL_baseline',
                    'Gr2_Scale_2_1': 'Excitement_PL_TP1',
                    'Gr2_Scale_2_2': 'Excitement_PL_TP2',
                    'Gr2_Scale_2_3': 'Excitement_PL_TP3',
                    'Gr2_Scale_2_4': 'Excitement_PL_TP4',
                    'Gr2_Scale_2_5': 'Excitement_PL_TP5',
                    'Gr2_Scale_2_6': 'Excitement_PL_TP6',
                    'Gr2_Scale_3_0': 'Sociability_PL_baseline',
                    'Gr2_Scale_3_1': 'Sociability_PL_TP1',
                    'Gr2_Scale_3_2': 'Sociability_PL_TP2',
                    'Gr2_Scale_3_3': 'Sociability_PL_TP3',
                    'Gr2_Scale_3_4': 'Sociability_PL_TP4',
                    'Gr2_Scale_3_5': 'Sociability_PL_TP5',
                    'Gr2_Scale_3_6': 'Sociability_PL_TP6'})

# Eyes closed data

In [85]:
df_ec = pd.read_csv('EC_relPower.csv')
df_ec.head(10)

,id,Drug,TP,Theta,Alpha,Beta,Theta_base,Alpha_base,Beta_base,Unnamed: 9
0,1,1,1,1.226749,2.098225,0.667198,1.397564,1.806682,0.683265,NaN
1,1,1,2,1.223133,2.078042,0.678503,1.397564,1.806682,0.683265,NaN
2,1,1,3,1.308463,1.583226,0.727630,1.397564,1.806682,0.683265,NaN
3,1,1,4,1.372116,2.142114,0.641848,1.397564,1.806682,0.683265,
4,1,1,5,1.371725,2.163950,0.657213,1.397564,1.806682,0.683265,NaN
5,1,1,6,1.182950,2.104528,0.689615,1.397564,1.806682,0.683265,NaN
6,1,2,1,1.134746,2.885148,0.637309,1.180703,2.731957,0.636147,NaN
7,1,2,2,1.130739,2.931674,0.635121,1.180703,2.731957,0.636147,NaN
8,1,2,3,1.081648,2.975688,0.650681,1.180703,2.731957,0.636147,NaN
9,1,2,4,1.153717,2.905191,0.636550,1.180703,2.731957,0.636147,NaN

In [86]:
df_ec_baseline_OT = pd.DataFrame()
df_ec_baseline_OT['Alpha_OT_baseline'] = df_ec.query('Drug==1 & TP==1')['Alpha_base']
df_ec_baseline_OT['Beta_OT_baseline'] = df_ec.query('Drug==1 & TP==1')['Beta_base']
df_ec_baseline_OT['Theta_OT_baseline'] = df_ec.query('Drug==1 & TP==1')['Theta_base']
df_ec_baseline_OT.reset_index(drop=True, inplace=True)

df_ec_baseline_PL = pd.DataFrame()
df_ec_baseline_PL['Alpha_PL_baseline'] = df_ec.query('Drug==2 & TP==1')['Alpha_base']
df_ec_baseline_PL['Beta_PL_baseline'] = df_ec.query('Drug==2 & TP==1')['Beta_base']
df_ec_baseline_PL['Theta_PL_baseline'] = df_ec.query('Drug==2 & TP==1')['Theta_base']
df_ec_baseline_PL.reset_index(drop=True, inplace=True)

df_ec_TP1 = pd.DataFrame()
df_ec_TP1['Alpha_OT_TP1'] = df_ec.query('Drug==1 & TP==1')['Alpha']
df_ec_TP1['Beta_OT_TP1'] = df_ec.query('Drug==1 & TP==1')['Beta']
df_ec_TP1['Theta_OT_TP1'] = df_ec.query('Drug==1 & TP==1')['Theta']
df_ec_TP1.reset_index(drop=True, inplace=True)

df_ec_TP1_PL = pd.DataFrame()
df_ec_TP1_PL['Alpha_PL_TP1'] = df_ec.query('Drug==2 & TP==1')['Alpha']
df_ec_TP1_PL['Beta_PL_TP1'] = df_ec.query('Drug==2 & TP==1')['Beta']
df_ec_TP1_PL['Theta_PL_TP1'] = df_ec.query('Drug==2 & TP==1')['Theta']
df_ec_TP1_PL.reset_index(drop=True, inplace=True)

df_ec_TP2 = pd.DataFrame()
df_ec_TP2['Alpha_OT_TP2'] = df_ec.query('Drug==1 & TP==2')['Alpha']
df_ec_TP2['Beta_OT_TP2'] = df_ec.query('Drug==1 & TP==2')['Beta']
df_ec_TP2['Theta_OT_TP2'] = df_ec.query('Drug==1 & TP==2')['Theta']
df_ec_TP2.reset_index(drop=True, inplace=True)

df_ec_TP2_PL = pd.DataFrame()
df_ec_TP2_PL['Alpha_PL_TP2'] = df_ec.query('Drug==2 & TP==2')['Alpha']
df_ec_TP2_PL['Beta_PL_TP2'] = df_ec.query('Drug==2 & TP==2')['Beta']
df_ec_TP2_PL['Theta_PL_TP2'] = df_ec.query('Drug==2 & TP==2')['Theta']
df_ec_TP2_PL.reset_index(drop=True, inplace=True)

df_ec_TP3 = pd.DataFrame()
df_ec_TP3['Alpha_OT_TP3'] = df_ec.query('Drug==1 & TP==3')['Alpha']
df_ec_TP3['Beta_OT_TP3'] = df_ec.query('Drug==1 & TP==3')['Beta']
df_ec_TP3['Theta_OT_TP3'] = df_ec.query('Drug==1 & TP==3')['Theta']
df_ec_TP3.reset_index(drop=True, inplace=True)

df_ec_TP3_PL = pd.DataFrame()
df_ec_TP3_PL['Alpha_PL_TP3'] = df_ec.query('Drug==2 & TP==3')['Alpha']
df_ec_TP3_PL['Beta_PL_TP3'] = df_ec.query('Drug==2 & TP==3')['Beta']
df_ec_TP3_PL['Theta_PL_TP3'] = df_ec.query('Drug==2 & TP==3')['Theta']
df_ec_TP3_PL.reset_index(drop=True, inplace=True)

df_ec_TP4 = pd.DataFrame()
df_ec_TP4['Alpha_OT_TP4'] = df_ec.query('Drug==1 & TP==4')['Alpha']
df_ec_TP4['Beta_OT_TP4'] = df_ec.query('Drug==1 & TP==4')['Beta']
df_ec_TP4['Theta_OT_TP4'] = df_ec.query('Drug==1 & TP==4')['Theta']
df_ec_TP4.reset_index(drop=True, inplace=True)

df_ec_TP4_PL = pd.DataFrame()
df_ec_TP4_PL['Alpha_PL_TP4'] = df_ec.query('Drug==2 & TP==4')['Alpha']
df_ec_TP4_PL['Beta_PL_TP4'] = df_ec.query('Drug==2 & TP==4')['Beta']
df_ec_TP4_PL['Theta_PL_TP4'] = df_ec.query('Drug==2 & TP==4')['Theta']
df_ec_TP4_PL.reset_index(drop=True, inplace=True)

df_ec_TP5 = pd.DataFrame()
df_ec_TP5['Alpha_OT_TP5'] = df_ec.query('Drug==1 & TP==5')['Alpha']
df_ec_TP5['Beta_OT_TP5'] = df_ec.query('Drug==1 & TP==5')['Beta']
df_ec_TP5['Theta_OT_TP5'] = df_ec.query('Drug==1 & TP==5')['Theta']
df_ec_TP5.reset_index(drop=True, inplace=True)

df_ec_TP5_PL = pd.DataFrame()
df_ec_TP5_PL['Alpha_PL_TP5'] = df_ec.query('Drug==2 & TP==5')['Alpha']
df_ec_TP5_PL['Beta_PL_TP5'] = df_ec.query('Drug==2 & TP==5')['Beta']
df_ec_TP5_PL['Theta_PL_TP5'] = df_ec.query('Drug==2 & TP==5')['Theta']
df_ec_TP5_PL.reset_index(drop=True, inplace=True)

df_ec_TP6 = pd.DataFrame()
df_ec_TP6['Alpha_OT_TP6'] = df_ec.query('Drug==1 & TP==6')['Alpha']
df_ec_TP6['Beta_OT_TP6'] = df_ec.query('Drug==1 & TP==6')['Beta']
df_ec_TP6['Theta_OT_TP6'] = df_ec.query('Drug==1 & TP==6')['Theta']
df_ec_TP6.reset_index(drop=True, inplace=True)

df_ec_TP6_PL = pd.DataFrame()
df_ec_TP6_PL['Alpha_PL_TP6'] = df_ec.query('Drug==2 & TP==6')['Alpha']
df_ec_TP6_PL['Beta_PL_TP6'] = df_ec.query('Drug==2 & TP==6')['Beta']
df_ec_TP6_PL['Theta_PL_TP6'] = df_ec.query('Drug==2 & TP==6')['Theta']
df_ec_TP6_PL.reset_index(drop=True, inplace=True)

In [87]:
df_ec_main = df_ec_baseline_OT.join(df_ec_baseline_PL)
df_ec_main = df_ec_main.join(df_ec_TP1)
df_ec_main = df_ec_main.join(df_ec_TP1_PL)
df_ec_main = df_ec_main.join(df_ec_TP2)
df_ec_main = df_ec_main.join(df_ec_TP2_PL)
df_ec_main = df_ec_main.join(df_ec_TP3)
df_ec_main = df_ec_main.join(df_ec_TP3_PL)
df_ec_main = df_ec_main.join(df_ec_TP4)
df_ec_main = df_ec_main.join(df_ec_TP4_PL)
df_ec_main = df_ec_main.join(df_ec_TP5)
df_ec_main = df_ec_main.join(df_ec_TP5_PL)
df_ec_main = df_ec_main.join(df_ec_TP6)
df_ec_main = df_ec_main.join(df_ec_TP6_PL)

In [88]:
df_ec_main.head()

,Alpha_OT_baseline,Beta_OT_baseline,Theta_OT_baseline,Alpha_PL_baseline,Beta_PL_baseline,Theta_PL_baseline,Alpha_OT_TP1,Beta_OT_TP1,Theta_OT_TP1,Alpha_PL_TP1,...,Theta_OT_TP5,Alpha_PL_TP5,Beta_PL_TP5,Theta_PL_TP5,Alpha_OT_TP6,Beta_OT_TP6,Theta_OT_TP6,Alpha_PL_TP6,Beta_PL_TP6,Theta_PL_TP6
0,1.806682,0.683265,1.397564,2.731957,0.636147,1.180703,2.098225,0.667198,1.226749,2.885148,...,1.371725,2.640344,0.641101,1.281785,2.104528,0.689615,1.182950,2.992360,0.625986,1.118693
1,2.238219,0.593412,1.636931,2.751071,0.507468,1.354817,2.499173,0.559997,1.540498,2.789433,...,1.510186,2.769164,0.527295,1.428142,2.527657,0.561062,1.553071,2.770109,0.522265,1.457623
2,2.150573,0.644745,1.337230,2.732490,0.629835,1.260243,1.933899,0.626944,1.330949,2.721984,...,1.189855,2.686977,0.605182,1.280903,2.513749,0.657572,1.055989,2.624962,0.600400,1.348108
3,1.154408,0.684087,1.818370,2.720190,0.480063,1.212259,1.178417,0.630595,1.896542,2.823591,...,1.947654,2.809108,0.481947,1.205705,1.150032,0.640439,1.905159,2.894763,0.484195,1.190631
4,1.595006,0.711019,1.573143,2.043225,0.582666,1.872206,1.271831,0.706092,1.507242,2.101857,...,1.713256,1.974045,0.564606,1.877176,1.814460,0.683339,1.644718,2.040060,0.577669,1.728657

# Eyes open data

In [89]:
df_eo = pd.read_csv('EO_relPower.csv')
df_eo.head()

,id,Drug,TP,Theta,Alpha,Beta,Theta_base,Alpha_base,Beta_base
0,1,1,1,1.181646,1.871099,0.740198,1.096907,1.716713,0.72773
1,1,1,2,1.188908,1.890720,0.738675,1.096907,1.716713,0.72773
2,1,1,3,1.128119,1.804824,0.759975,1.096907,1.716713,0.72773
3,1,1,4,1.309970,1.883296,0.758801,1.096907,1.716713,0.72773
4,1,1,5,1.339023,1.975457,0.699374,1.096907,1.716713,0.72773

In [90]:
df_eo_baseline_OT = pd.DataFrame()
df_eo_baseline_OT['Alpha_OT_baseline'] = df_eo.query('Drug==1 & TP==1')['Alpha_base']
df_eo_baseline_OT['Beta_OT_baseline'] = df_eo.query('Drug==1 & TP==1')['Beta_base']
df_eo_baseline_OT['Theta_OT_baseline'] = df_eo.query('Drug==1 & TP==1')['Theta_base']
df_eo_baseline_OT.reset_index(drop=True, inplace=True)

df_eo_baseline_PL = pd.DataFrame()
df_eo_baseline_PL['Alpha_PL_baseline'] = df_eo.query('Drug==2 & TP==1')['Alpha_base']
df_eo_baseline_PL['Beta_PL_baseline'] = df_eo.query('Drug==2 & TP==1')['Beta_base']
df_eo_baseline_PL['Theta_PL_baseline'] = df_eo.query('Drug==2 & TP==1')['Theta_base']
df_eo_baseline_PL.reset_index(drop=True, inplace=True)

df_eo_TP1 = pd.DataFrame()
df_eo_TP1['Alpha_OT_TP1'] = df_eo.query('Drug==1 & TP==1')['Alpha']
df_eo_TP1['Beta_OT_TP1'] = df_eo.query('Drug==1 & TP==1')['Beta']
df_eo_TP1['Theta_OT_TP1'] = df_eo.query('Drug==1 & TP==1')['Theta']
df_eo_TP1.reset_index(drop=True, inplace=True)

df_eo_TP1_PL = pd.DataFrame()
df_eo_TP1_PL['Alpha_PL_TP1'] = df_eo.query('Drug==2 & TP==1')['Alpha']
df_eo_TP1_PL['Beta_PL_TP1'] = df_eo.query('Drug==2 & TP==1')['Beta']
df_eo_TP1_PL['Theta_PL_TP1'] = df_eo.query('Drug==2 & TP==1')['Theta']
df_eo_TP1_PL.reset_index(drop=True, inplace=True)

df_eo_TP2 = pd.DataFrame()
df_eo_TP2['Alpha_OT_TP2'] = df_eo.query('Drug==1 & TP==2')['Alpha']
df_eo_TP2['Beta_OT_TP2'] = df_eo.query('Drug==1 & TP==2')['Beta']
df_eo_TP2['Theta_OT_TP2'] = df_eo.query('Drug==1 & TP==2')['Theta']
df_eo_TP2.reset_index(drop=True, inplace=True)

df_eo_TP2_PL = pd.DataFrame()
df_eo_TP2_PL['Alpha_PL_TP2'] = df_eo.query('Drug==2 & TP==2')['Alpha']
df_eo_TP2_PL['Beta_PL_TP2'] = df_eo.query('Drug==2 & TP==2')['Beta']
df_eo_TP2_PL['Theta_PL_TP2'] = df_eo.query('Drug==2 & TP==2')['Theta']
df_eo_TP2_PL.reset_index(drop=True, inplace=True)

df_eo_TP3 = pd.DataFrame()
df_eo_TP3['Alpha_OT_TP3'] = df_eo.query('Drug==1 & TP==3')['Alpha']
df_eo_TP3['Beta_OT_TP3'] = df_eo.query('Drug==1 & TP==3')['Beta']
df_eo_TP3['Theta_OT_TP3'] = df_eo.query('Drug==1 & TP==3')['Theta']
df_eo_TP3.reset_index(drop=True, inplace=True)

df_eo_TP3_PL = pd.DataFrame()
df_eo_TP3_PL['Alpha_PL_TP3'] = df_eo.query('Drug==2 & TP==3')['Alpha']
df_eo_TP3_PL['Beta_PL_TP3'] = df_eo.query('Drug==2 & TP==3')['Beta']
df_eo_TP3_PL['Theta_PL_TP3'] = df_eo.query('Drug==2 & TP==3')['Theta']
df_eo_TP3_PL.reset_index(drop=True, inplace=True)

df_eo_TP4 = pd.DataFrame()
df_eo_TP4['Alpha_OT_TP4'] = df_eo.query('Drug==1 & TP==4')['Alpha']
df_eo_TP4['Beta_OT_TP4'] = df_eo.query('Drug==1 & TP==4')['Beta']
df_eo_TP4['Theta_OT_TP4'] = df_eo.query('Drug==1 & TP==4')['Theta']
df_eo_TP4.reset_index(drop=True, inplace=True)

df_eo_TP4_PL = pd.DataFrame()
df_eo_TP4_PL['Alpha_PL_TP4'] = df_eo.query('Drug==2 & TP==4')['Alpha']
df_eo_TP4_PL['Beta_PL_TP4'] = df_eo.query('Drug==2 & TP==4')['Beta']
df_eo_TP4_PL['Theta_PL_TP4'] = df_eo.query('Drug==2 & TP==4')['Theta']
df_eo_TP4_PL.reset_index(drop=True, inplace=True)

df_eo_TP5 = pd.DataFrame()
df_eo_TP5['Alpha_OT_TP5'] = df_eo.query('Drug==1 & TP==5')['Alpha']
df_eo_TP5['Beta_OT_TP5'] = df_eo.query('Drug==1 & TP==5')['Beta']
df_eo_TP5['Theta_OT_TP5'] = df_eo.query('Drug==1 & TP==5')['Theta']
df_eo_TP5.reset_index(drop=True, inplace=True)

df_eo_TP5_PL = pd.DataFrame()
df_eo_TP5_PL['Alpha_PL_TP5'] = df_eo.query('Drug==2 & TP==5')['Alpha']
df_eo_TP5_PL['Beta_PL_TP5'] = df_eo.query('Drug==2 & TP==5')['Beta']
df_eo_TP5_PL['Theta_PL_TP5'] = df_eo.query('Drug==2 & TP==5')['Theta']
df_eo_TP5_PL.reset_index(drop=True, inplace=True)

df_eo_TP6 = pd.DataFrame()
df_eo_TP6['Alpha_OT_TP6'] = df_eo.query('Drug==1 & TP==6')['Alpha']
df_eo_TP6['Beta_OT_TP6'] = df_eo.query('Drug==1 & TP==6')['Beta']
df_eo_TP6['Theta_OT_TP6'] = df_eo.query('Drug==1 & TP==6')['Theta']
df_eo_TP6.reset_index(drop=True, inplace=True)

df_eo_TP6_PL = pd.DataFrame()
df_eo_TP6_PL['Alpha_PL_TP6'] = df_eo.query('Drug==2 & TP==6')['Alpha']
df_eo_TP6_PL['Beta_PL_TP6'] = df_eo.query('Drug==2 & TP==6')['Beta']
df_eo_TP6_PL['Theta_PL_TP6'] = df_eo.query('Drug==2 & TP==6')['Theta']
df_eo_TP6_PL.reset_index(drop=True, inplace=True)

In [91]:
df_eo_main = df_eo_baseline_OT.join(df_eo_baseline_PL)
df_eo_main = df_eo_main.join(df_eo_TP1)
df_eo_main = df_eo_main.join(df_eo_TP1_PL)
df_eo_main = df_eo_main.join(df_eo_TP2)
df_eo_main = df_eo_main.join(df_eo_TP2_PL)
df_eo_main = df_eo_main.join(df_eo_TP3)
df_eo_main = df_eo_main.join(df_eo_TP3_PL)
df_eo_main = df_eo_main.join(df_eo_TP4)
df_eo_main = df_eo_main.join(df_eo_TP4_PL)
df_eo_main = df_eo_main.join(df_eo_TP5)
df_eo_main = df_eo_main.join(df_eo_TP5_PL)
df_eo_main = df_eo_main.join(df_eo_TP6)
df_eo_main = df_eo_main.join(df_eo_TP6_PL)

In [92]:
df_eo_main.head()

,Alpha_OT_baseline,Beta_OT_baseline,Theta_OT_baseline,Alpha_PL_baseline,Beta_PL_baseline,Theta_PL_baseline,Alpha_OT_TP1,Beta_OT_TP1,Theta_OT_TP1,Alpha_PL_TP1,...,Theta_OT_TP5,Alpha_PL_TP5,Beta_PL_TP5,Theta_PL_TP5,Alpha_OT_TP6,Beta_OT_TP6,Theta_OT_TP6,Alpha_PL_TP6,Beta_PL_TP6,Theta_PL_TP6
0,1.716713,0.727730,1.096907,1.643819,0.712455,1.430621,1.871099,0.740198,1.181646,2.079584,...,1.339023,1.757813,0.706704,1.444822,1.915119,0.717417,1.233605,1.497843,0.863139,1.368224
1,1.587834,0.584099,1.836758,2.109738,0.551939,1.540202,1.741770,0.583087,1.799383,2.259756,...,1.696956,2.424189,0.552212,1.536960,1.992667,0.595551,1.742141,2.415022,0.558032,1.483131
2,1.819502,0.863352,1.162685,2.092196,0.631612,1.388391,1.425305,0.710318,1.416093,2.211520,...,1.493137,2.272005,0.603700,1.487396,2.337931,0.683180,1.145853,2.348954,0.590098,1.492925
3,1.067909,0.662931,1.894239,1.573104,0.574032,1.632943,1.073895,0.636870,1.961622,1.855694,...,1.908155,2.132848,0.553266,1.533494,1.025076,0.645317,1.993721,2.148393,0.549110,1.485759
4,1.250083,0.799893,1.621612,1.647261,0.618191,1.832992,1.253784,0.845912,1.596540,1.744319,...,1.723751,1.656170,0.614235,1.755423,1.381693,0.822238,1.742861,1.720620,0.604748,1.727835

# Correlations

In [93]:
df_behav.head()

,Alertness_OT_baseline,Alertness_OT_TP1,Alertness_OT_TP2,Alertness_OT_TP3,Alertness_OT_TP4,Alertness_OT_TP5,Alertness_OT_TP6,Excitement_OT_baseline,Excitement_OT_TP1,Excitement_OT_TP2,...,Excitement_PL_TP4,Excitement_PL_TP5,Excitement_PL_TP6,Sociability_PL_baseline,Sociability_PL_TP1,Sociability_PL_TP2,Sociability_PL_TP3,Sociability_PL_TP4,Sociability_PL_TP5,Sociability_PL_TP6
0,4.0,3.0,3.0,3.0,3.0,4.0,1.0,3.0,2.0,3.0,...,4.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
1,3.0,2.0,2.0,2.0,2.0,3.0,3.0,4.0,3.0,2.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
2,2.0,3.0,4.0,3.0,4.0,3.0,4.0,4.0,4.0,4.0,...,4.0,4.0,3.0,2.0,2.0,2.0,3.0,3.0,3.0,2.0
3,1.0,1.0,2.0,1.0,1.0,1.0,1.0,4.0,5.0,5.0,...,5.0,5.0,5.0,3.0,3.0,3.0,4.0,3.0,4.0,4.0
5,4.0,5.0,4.0,4.0,5.0,4.0,3.0,3.0,4.0,3.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0

In [98]:
df_behav.shape

(19, 42)

In [113]:
df_behav['Alertness_OT_TP1']

0     3.0
1     2.0
2     3.0
3     1.0
4     5.0
5     5.0
6     2.0
7     5.0
8     3.0
9     2.0
10    4.0
11    3.0
12    5.0
13    3.0
14    4.0
15    5.0
16    2.0
17    4.0
18    2.0
Name: Alertness_OT_TP1, dtype: float64

In [114]:
df_eo_main['Alpha_OT_TP1']

0     1.871099
1     1.741770
2     1.425305
3     1.073895
4     1.253784
5     1.596419
6     1.476314
7     1.251645
8     1.623891
9     1.836340
10    2.239797
11    2.389561
12    1.999294
13    1.628623
14    1.484735
15    1.237317
16    2.196215
17    1.362162
18    1.492894
Name: Alpha_OT_TP1, dtype: float64

In [116]:
np.corrcoef(df_behav['Alertness_OT_TP1'].dropna().to_numpy(), df_eo_main['Alpha_OT_TP1'].dropna().to_numpy())

array([[ 1.       , -0.1136133],
       [-0.1136133,  1.       ]])

In [117]:
np.corrcoef(df_behav['Alertness_PL_TP1'].dropna().to_numpy(), df_eo_main['Alpha_PL_TP1'].dropna().to_numpy())

array([[1.        , 0.33463039],
       [0.33463039, 1.        ]])

In [118]:
np.corrcoef(df_behav['Excitement_OT_TP1'].dropna().to_numpy(), df_eo_main['Alpha_OT_TP1'].dropna().to_numpy())

array([[ 1.        , -0.52271309],
       [-0.52271309,  1.        ]])

In [119]:
np.corrcoef(df_behav['Excitement_PL_TP1'].dropna().to_numpy(), df_eo_main['Alpha_PL_TP1'].dropna().to_numpy())

array([[1.        , 0.23758495],
       [0.23758495, 1.        ]])

In [122]:
np.corrcoef(df_behav['Sociability_OT_TP1'].dropna().to_numpy(), df_eo_main['Alpha_OT_TP1'].dropna().to_numpy())

array([[1.        , 0.10648068],
       [0.10648068, 1.        ]])

In [123]:
np.corrcoef(df_behav['Sociability_PL_TP1'].dropna().to_numpy(), df_eo_main['Alpha_PL_TP1'].dropna().to_numpy())

array([[1.        , 0.28580418],
       [0.28580418, 1.        ]])